$backgroundColor: whitesmoke;
$headerColor: lightgrey;
$borderCurve: 5px;

article.tweet:hover {
    @extend %article-shared;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    @extend %header-shared;
    @include iconVisibility(visible);
}

article.tweet {
    @extend %article-shared;
    @extend %header-shared;
    @include iconVisibility(visible);
}

%header-shared {
    header.tweet-header {

        background-color: $headerColor;
        height: fit-content;
        overflow: hidden;
        border-top-right-radius: $borderCurve;
        border-top-left-radius: $borderCurve;
        padding-top: 2%;
        opacity:.5;

        .tweet-icon {
            height : 40px;
            width : 40px;
            float : left;
            padding-left: 1%;
            padding-bottom: 1%;
        }
        .username{
            float: right;
            position: relative;
            right: 1%;
            bottom: 2%;
            font-size: 80%;
        }
        .name {
            float: left;
            margin-top: auto;
            margin-left: 1%;
        }

    }
    .tweet-text {
        word-wrap: break-word;
        padding: 1em 3%;
    }
}

%article-shared {
    background-color: $backgroundColor;
    border-radius: $borderCurve;
    margin: 0em 2em;
    margin-top: 1em;
}

%icon-format-shared {
    height: 10px;
    width: 10px;
    float: right;
    position: relative;
    top : .5em;
    margin-right: 4%;
}

@mixin iconVisibility($type) {
    footer.tweet-footer {
        border-top: 1px solid lightgray;
        overflow: overlay;

        p {
            font-size: 40%;
            float: left;
            padding: 1%;
        }

        .icon {
            @extend %icon-format-shared;
            visibility: $type;
        }
    }
}